<div class="container">
    <div class="row">
        <nav class="navbar bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand display-2 font-monospace" href="#">
                <img src="../assets/Logo2.jpg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
                WebEasy (Pvt) Ltd
              </a>
            </div>
          </nav>
    </div>

    <div class="row p-5 ">
        <h1 class="justify-content-center d-flex display-2">Welcome to WebEasy Portal</h1>
        <section class="p-5 justify-content-center d-flex ">
            <mat-button-toggle-group class="m-4 p-3">
                <mat-button-toggle value="Login"  [routerLink]='"/login"'>Login</mat-button-toggle>
                </mat-button-toggle-group>

              <mat-button-toggle-group class="m-4 p-3">
                <mat-button-toggle value="Register/SignUp" [routerLink]='"/register"'>Register/SignUp</mat-button-toggle>
              </mat-button-toggle-group>
          </section>
    </div>
</div>


